/* Fonts */

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('../fonts/Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Semibold.eot');
    src: local('../fonts/Gilroy Semibold'), local('Gilroy-Semibold'),
        url('../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Semibold.woff2') format('woff2'),
        url('../fonts/Gilroy-Semibold.woff') format('woff'),
        url('../fonts/Gilroy-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('../fonts/Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('../fonts/Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('../fonts/Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-RegularItalic.eot');
    src: local('../fonts/Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
        url('../fonts/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-RegularItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-RegularItalic.woff') format('woff'),
        url('../fonts/Gilroy-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: "Gilroy", serif;
    font-size: 16px;
}

h1 {
    color: #242424;
    font-size: 72px;
    font-weight: bold;
    line-height: 87.05px;
    text-transform: uppercase;
    z-index: 1;
}

h2 {
    color: #242424;
    font-size: 28px;
    font-weight: 600;
    line-height: 24px;
}

h3 {
    color: #242424;
    font-size: 22px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
}

p {
    color: #242424;
    font-weight: normal;
    line-height: 22.4px;
}

hr {
    background-color: #D6D6D6;
    width: 100%;
    height: 1px;
}

/*BUTTONS*/

.btn-yellow {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    padding: 0 29px;
    background: linear-gradient(180deg, #FFECB5 0%, #FFE69F 0.01%, #FFD45A 100%);
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.25);
    border-radius: 58px;
}

.btn-yellow::before {
    content:"";
    display: block;
    padding: 5px;
    border-radius: 58px;
    width: 100%;
    height: 42px;

    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    box-shadow: 7px 7px 16px #E3E3E3, -3px -4px 8px rgba(255, 255, 255, 0.9), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: -1;
}

.btn-yellow::after {
    content:"";
    display: block;
    padding: 5px;
    border-radius: 58px;
    width: 100%;
    height: 42px;

    background: linear-gradient(180deg, #FFDE89 0%, #FFCB38 100%);
    
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.btn-yellow:hover {
    background: linear-gradient(180deg, #FFEEBC 0%, #FFE69F 36.46%, #FFCF48 68.23%, #FFC317 100%);
}

.btn-yellow:active {
    background: linear-gradient(180deg, #FFE69F 0.01%, #E3B940 0.02%, #FFD24E 100%);
}

.btn-gray {
    position: relative;
    font-size: 20px;
    line-height: 32px;
    padding: 0 29px;
    background: linear-gradient(180deg, #FBFBFB 0%, #F6F6F6 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25);
    border-radius: 58px;
}

.btn-gray::before {
    content:"";
    display: block;
    padding: 5px;
    border-radius: 58px;
    width: 100%;
    height: 42px;

    background: #F6F6F6;
    box-shadow: 7px 7px 16px #E3E3E3, -4px -4px 8px rgba(255, 255, 255, 0.7), inset 13px 22px 8px rgba(0, 0, 0, 0.02);
    
    position: absolute;
    left: -5px;
    top: -5px;
    z-index: -1;
}

.btn-gray::after {
    content:"";
    display: block;
    padding: 5px;
    border-radius: 58px;
    width: 100%;
    height: 42px;

    background: #F6F6F6;
    
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}

.btn-gray:hover {
    background: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 53.12%, #EFECEC 100%);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25), 3px 3px 13px rgba(128, 128, 128, 0.25);
}

.btn-gray:active {
    background: linear-gradient(180deg, #F1F1F1 1.56%, #FCFAFA 100%);
    box-shadow: 3px 3px 13px rgba(128, 128, 128, 0.25), inset 0px 4px 13px rgba(0, 0, 0, 0.06);
}

/* SOCIAL SETINGS BUTTONS*/

.item-yellow {
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: linear-gradient(150.26deg, #FFE28F 6.75%, #ECBD37 91.17%);
    box-shadow: 3px 3px 13px #C18F00;
    
}

.item-yellow::before {
    content: "";
    display: block;
    
    position: absolute;
    top: -7px;
    left: -7px;

    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: linear-gradient(144.1deg, #FFE193 12.45%, #FFC93F 89.31%);
    box-shadow: 7px 7px 16px rgba(204, 151, 0, 0.6), -4px -4px 8px #FFDB7E, inset 13px 22px 8px #F1C74F;
    z-index: -1;
}

.vk-white {
    background: url("../img/vk-white.png") no-repeat 50% 50%;
}

.vk-white:hover {
    background: 
    url("../img/vk-white.png") no-repeat 50% 50%,
    linear-gradient(150.26deg, #FFEAAD 6.75%, #FCE6A7 45.73%, #FFC726 91.17%);
}

.vk-white:active {
    background: 
    url("../img/vk-white.png") no-repeat 50% 50%,
    linear-gradient(150.26deg, #FFDA71 6.75%, #FFCD40 43.24%, #FBC11B 91.17%);
    box-shadow: 2px 2px 6px #C18F00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.insta-white {
    background: url("../img/inst-white.png") no-repeat 50% 50%;
}

.insta-white:hover {
    background:
    url("../img/inst-white.png") no-repeat 50% 50%,
    linear-gradient(150.26deg, #FFEAAD 6.75%, #FCE6A7 45.73%, #FFC726 91.17%);
}

.insta-white:active {
    background:
    url("../img/inst-white.png") no-repeat 50% 50%,
    linear-gradient(150.26deg, #FFDA71 6.75%, #FFCD40 43.24%, #FBC11B 91.17%);
    box-shadow: 2px 2px 6px #C18F00, inset 3px 3px 10px rgba(199, 129, 0, 0.59);
}

.item-gray {
    position: relative;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    background: linear-gradient(145.67deg, #FFFFFF 15.39%, #E4E4E4 88.3%);
    box-shadow: 3px 3px 13px #B1B1B1;
    
}

.item-gray::before {
    content: "";
    display: block;
    
    position: absolute;
    top: -7px;
    left: -7px;

    width: 63px;
    height: 63px;
    border-radius: 50%;
    background: linear-gradient(144.1deg, #FFFFFF 12.45%, #FBFBFB 89.31%);
    box-shadow: 7px 7px 16px rgba(213, 213, 213, 0.6), -6px -6px 8px #FFFFFF, inset 13px 22px 8px #F3F3F3;
    z-index: -1;
}

.vk-yellow {
    background: url("../img/vk-yellow.png") no-repeat 50% 50%;
}

.vk-yellow:hover {
    background: url("../img/vk-yellow.png") no-repeat 50% 50%,
    linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
}

.vk-yellow:active {
    background: url("../img/vk-yellow.png") no-repeat 50% 50%,
    linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
    box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
}

.insta-yellow {
    background: url("../img/inst-yellow.png") no-repeat 50% 50%;
}

.insta-yellow:hover {
    background: url("../img/inst-yellow.png") no-repeat 50% 50%,
    linear-gradient(145.67deg, #FFFFFF 15.39%, #FAFAFA 54.13%, #DADADA 88.3%);
}

.insta-yellow:active {
    background: url("../img/inst-yellow.png") no-repeat 50% 50%,
    linear-gradient(145.67deg, #E4E4E4 16.92%, #F6F6F6 88.3%);
    box-shadow: 3px 3px 13px #B2B2B2, inset 4px 4px 7px rgba(192, 192, 192, 0.25);
}

/* HEADER*/

header {
    background-color: #F6F6F6;
}

header .wrapper {
    background: url("../img/header/bg-dog.jpg") no-repeat 100% 0;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1049px;
    padding: 39px 0 76px;
}

.navigation-menu {
    width: 60%;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    padding-right: 32px;
}

.navigation a:last-child {
    padding-right: 0;
}

.social-settings {
display: flex;
align-items: center;
justify-content: space-between;
width: 140px;
z-index: 1;
}

.content-container {
    position: relative;
    margin: 0 auto;
    padding: 0 0 272px;
    z-index: 1;
}

.content-container::before {
    content: "";
    background: url("../img/header/bg-cat.svg") no-repeat;
    display: inline-block;
    position: absolute;
    top: 305px;
    right: 160px;
    width: 483px;
    height: 469px;
}

.item-1 {
    position: absolute;
    top: 205px;
    left: -105px;
    width: 599px;
    height: 192px;
    z-index: -2;
}

.item-2{
    position: absolute;
    top: 397px;
    left: -105px;
    width: 534px;
    height: 107px;
    z-index: -2;
}

.item-3{
    position: absolute;
    top: 505px;
    left: 186px;
    width: 474px;
    height: 107px;
    z-index: -2;
}

.title-h1 {
    color: #6B6B6B;
    font-weight: 300;
    line-height: 18px;
    margin: -10px 0 0;
    max-width: 659px;
    padding-bottom: 12px;
}

.target-company {
    max-width: 650px;
}

.alert-message {
    color: #C78100;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 466px;
    padding: 43px 0 44px;
}

/* massage-to-people BLOCK*/

.message-to-people__container {
    display: flex;
    position: relative;
}

.message-to-people__container::before {
    content: "";
    width: 100%;
    height: 100%;
    background:
    url("../img/message-to-people/bg-cat-circle-xxl.svg") no-repeat 674px 88.5%,
    url("../img/message-to-people/bg-small-circle-xxl.svg") no-repeat 665px 90%,
    url("../img/message-to-people/bg-dog-circle-xxl.svg") no-repeat 369px 50%, 
    url("../img/message-to-people/bg-cube-xxl.jpg") no-repeat 0 50%, 
    url("../img/message-to-people/bg-circle-xxl.svg") no-repeat 335px 50%;
    position: absolute;
    left: -387.5px;
    z-index: -1;
}

.message-to-peaple__content {
    box-sizing: content-box;
    max-width: 466px;
    margin-left: auto;
    padding: 128px 120px 137px 0;
}

.first-block-h2 {
    color: #C78100;
    line-height: 33.6px;
    text-align: center;
}

.break-paragraph {
    margin: 28px 0 20px;
}

/* HOW TO HELP BLOCK*/

.how-help-block {
    background-color: #F6F6F6;
}

.lite-h2 {
    text-align: center;
    font-weight: 300;
    padding: 80px 0 47px;
}

.help-menu {
    display: flex;
    justify-content: space-between;
    padding: 0 0 80px;
}

.hh-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    margin: 0 0 24px;
}

.hh-btn:hover {
    background: #FAFAFA;
    border: none;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
}

.hh-btn:active{
    background: linear-gradient(147.91deg, #F1F0F0 17.56%, #EEEEEE 52.29%, #F1F1F1 84.92%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: -6px -6px 16px rgba(224, 224, 224, 0.6), 6px 6px 16px rgba(255, 255, 255, 0.77);
}

.hh-img-1 {
    width: 80px;
}

.hh-img-2 {
    width: 91px;
}

.hh-img-3 {
    width: 93px;
}

.hh-img-4 {
    width: 83px;
}

.hh-img-5 {
    width: 61px;
}

.help-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 166px;
    text-align: center;
}

/* HH FIRST BLOCK*/

/*title*/
.hh-first-block {
    background-color: #F6F6F6;
}

.hh-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-line {
    width: 42%;
    height: 100%;
    border-bottom: 2px solid #FFC41E;
}

.title-line-2 {
    width: 42%;
    height: 100%;
    border-bottom: 2px solid #FFC41E;
}

.title-img-1 {
    width: 146px;
}

/* text blocks*/

.text-blocks {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 875px;
    margin: 0 auto;
    padding: 69px 0 0;
}

.text-block {
    max-width: 389px; 
}

.text-block p {
    padding: 20px 0 72px;
}

/*pets container*/

.pets-container {
    max-width: 1145px;
    margin: 0 auto;
    padding-bottom: 64px;
}

.pets-container h2 {
    text-align: center;
    font-weight: 300;
}

.see-all-btn {
    color: #AD7F00;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration-line: underline;

    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
    padding: 24px 0 20px;
}

.arrow {
    border-bottom: 2px solid #AD7F00;
    border-right: 2px solid #AD7F00;
    width: 10px;
    height: 10px;
    transform: translate(7px, 0) rotate(-45deg);
}
 /*slider*/

.slider {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.slide {
    opacity: 0.5;
    max-width: 368px;
    padding: 16px 16px 6px;
    background-color: #F6F6F6;
    border-radius: 5px;
    box-shadow: 6px 6px 16px rgba(163, 163, 163, 0.6), -8px -8px 16px #FFFFFF, inset 4px 4px 16px rgba(203, 203, 203, 0.25);
}

.slide:hover {
    opacity: 1;
}

.slide h3 {
    padding: 8px 0 10px;
}

.who {
    color: #6B6B6B;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    padding: 8px 0 6px;
}

.pet-description {
    color: #242424;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}

.slide a {
    color: #AD7F00;
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: underline;
}

/*slider buttons*/

.slider-buttons {
    display: flex;
    justify-content: space-between;
    max-width: 853px;
    margin: 0 auto;
    padding: 20px 0 69px;
}

.slider-btn {
    width: 77px;
    height: 77px;
    background: #F6F6F6;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 6px 6px 16px rgba(224, 224, 224, 0.6), -6px -6px 16px rgba(255, 255, 255, 0.77);
    padding: 19px 19px;   
}
.arrow-forward  {
    transform: rotate(180deg);
}

.home-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.slider-buttons .btn-yellow {
    margin-bottom: 16px;
}

/*social setting container*/

.social-settings-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 779px;
    margin: 0 auto;
}

.text-place {
    max-width: 583px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.social-settings-container .social-settings {
    width: 145px;
}

/* HH SECOND BLOCK finance help*/


/*hh-title*/

.hh-second-block .hh-title {
    padding: 46px 0 0;
}

.title-img-2 {
    width: 128px;
}

/*second-block-text*/

.second-block-text {
    max-width: 758px;
    margin: 0 auto;
    padding: 57px 0 40px;
}

.second-block-text h2 {
    text-align: center;
    padding-bottom: 24px;
}

.second-block-text p {
    color: #6B6B6B;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

/*finance help info*/

.finance-help-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 875px;
    margin: 0 auto;
}

.bank-info,
.drop-box-info {
    color: #242424;
    line-height: 140%;
    width: 389px;
}

.finance-help-info .lite-h2 {
    font-size: 24px;
    line-height: 28px;
    padding: 0 0 24px;
}

.bank-info .btn-yellow {
    margin-top: 24px;
}

.see-more {
    display: block;
    color: #AD7F00;
    font-size: 20px;
    line-height: 40px;
    text-decoration-line: underline;
    padding: 24px 0 39px;
}

/*HH THIRD BLOCK*/

.hh-third-block .hh-title {
    padding: 46px 0 13px;
}

.wath-bring-container {
    background-color: #F6F6F6;
}

.wath-bring-content {
    max-width: 690px;
    margin: 0 auto;
}

.bringt-food h2,
.bringt-medicine h2,
.bringt-other h2 {
    padding: 40px 0 24px;
}

.bringt-food li:last-child {
    color: #6B6B6B;
}

.bringt-food li:not(:first-child),
.bringt-other li:not(:first-child) {
    line-height: 140%;
}

.bringt-food li:not(:nth-child(1)):not(:nth-child(2)):not(:last-child) {
    list-style: disc inside;
}

.bringt-other li:not(:first-child):not(:nth-child(2)) {
    list-style: disc inside;
}

.wath-bring-content .see-more {
    padding: 16px 0 78px;
}

/*HH FOURTH BLOCK*/

.auto-help-container {
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
}

.title-img-4 {
    width: 118px;
}

.auto-help-content {
    max-width: 680px;
    margin: 0 auto;
    padding: 45px 0 72px;
    z-index: 1;
}

.auto-help-content p {
    padding: 24px 0;
    line-height: 140%;
}

/*HH FIFTH BLOCK*/

.hh-fifth-block .hh-title {
    background-color: #F6F6F6;
}

.volunteering-container {
    background:
    url("../img/bg-cube.jpg") no-repeat 0 50%,
    #F6F6F6;
    background-size: 27% 521px;
}

.title-img-5 {
    width: 78px;
}

.volunteering-container .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:
    url("../img/bg-dog-with-bone.png") no-repeat 0 50%,
    url("../img/bg-big-circle.svg") no-repeat -7% 50%,
    url("../img/bg-small-cube.jpg") no-repeat -21% 50%;
}

.volunteering-content {
    grid-column-start: 2;
    max-width: 466px;
    padding: 162px 0 162px;
    z-index: 1;
}

.volunteering-content p {
    padding: 24px 0;
    line-height: 140%;
}

/*NEWS BLOCK*/

.news-container {
    max-width: 778px;
    margin: 0 auto;
    padding: 54px 0;
}

.news-container h2 {
    text-align: center;
}

.news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0 0;
}

.avatar {
    border-radius: 50%;
    width: 140px;
}

.news p {
    max-width: 603px;
}

.news-container .see-more {
    padding: 24px 0 0;
}

/*ABOUT-US*/

.about-us {
    background-color: #F6F6F6;
}

.about-us-container {
    max-width: 680px;
    margin: 0 auto;
    padding: 56px 0 40px;
}

.about-us h2 {
    text-align: center;
}

.about-us-target {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    padding: 24px 0;
}

.contacts {
    padding: 24px 0 40px;
    line-height: 140%;
}

.about-us .social-settings-container {
    flex-direction: column;
    align-items: flex-start;
}

.about-us .text-place {
    color: #6B6B6B;
}

.about-us .social-settings {
    width: 132px;
    padding-top: 23px;
}


/*THANKS FOR HELP BLOCK*/

.thanks-help-container {
    position: relative;
    display: flex;
    align-items: center;
    background: url("../img/hug-dog.jpg") no-repeat;
    background-size: cover;
    min-height: 741px;
}

.thanks-help-container::before {
    content: "";
    display: block;

    position: absolute;
    top: 119px;
    left: 0;
    
    width: 615px;
    height: 521px;
    background: url("../img/thnx-bp.png") no-repeat;
    filter: brightness(1) opacity(0.3);
}

.thanks-help-container::after {
    content: "";
    display: block;

    position: absolute;
    top: 354px;
    left: 480px;
    
    width: 89px;
    height: 89px;
    background: url("../img/thnx-paw.png") no-repeat;
}

.thnx-content {
    max-width: 346px;
    margin-left: 134px;
    z-index: 10;
}

.thnx-text {
    color: #FFFFFF;
    font-size: 64px;
    font-weight: bold;
    line-height: 77px;
}

/*FOOTER*/

footer .wrapper {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.bottom-navigation {
    display: flex;
    justify-content: space-between;
    width: 881px;
    padding-top: 40px;

    font-size: 14px;
    font-weight: 600;
    line-height: 16.7px;
    text-decoration: underline;
}

.bottom-menu {
    display: flex;
    justify-content: space-between;
    width: 143px;
    padding-top: 40px;

    font-size: 14px;
    font-weight: 400;
    line-height: 16.24px;
    text-decoration: underline;
}

.copyright {
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0 16px;
    
    color: #B3B3B3;
}
